<html>
 <head>
  <title>Command list</title>
  <link title="LOL" type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml?method=GET&amp;autocomplete="/>
 </head>
  <body>
  <style>
   body {
     background-color: #282828;
     color: white;
   }
   a {
     color: white;
   }
   a:link {
     color: white;
   }
   a:visited {
     color: white;
   }
   a:hover {
     color: yellow;
   }
   a:active {
     color: yellow;
   }
   table, th, td {
    border: 1px solid black;
   }
  </style>
  <div>
   <h1>Command list</h1>
   <img src="data:image/png;base64,{{.Icon}}" />
   <table>
    <thead>
     <tr><td>Command</td><td>Aliases</td><td>Description</td><td>Usage</td></tr>
    </thead>
      <tr>
        <td><a href="/?q=list">list</a></td><td>help</td><td>Show this
        page</td><td></td>
      </tr>
    {{range $c := .Commands}}
      <tr>
        <td><a href="/?q={{$c.Name}}">{{$c.Name}}</a></td><td>{{join $c.Aliases ", "}}</td><td>{{$c.Description}}</td><td>{{$c.Usage}}</td>
      </tr>
    {{end}}
   </table>
  </div>

  <div>
   {{ if ne .Maintainers nil }}For any issues please contact {{join .Maintainers ", "}}{{end}}
  </div>
  <div>
   To use this service just add <em><span id="search_engine_pattern"></span></em> it as the default search engine of your browser.
  </div>
  <script>
   u = new URL(location.href);
   u.hash = '';
   u.search = 'q=%s';
   e = document.getElementById("search_engine_pattern");
   e.innerHTML = u.toString();
  </script>

  </body>
</html>
